/* #home {
    display: inline-block;
    background-color: rgb(209, 19, 19);
    height: auto;
    grid-template-columns: 1fr 1fr;
    display: flex;
} */

.home {
    display:inline-block;
    background-color: #3C3B3B;
}

