.header {
    .container {
        display: flex;
        place-content: space-between;
        .ave {
            margin: 0;
            a {
                padding: 14px 16px;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.25em;
                font-size: 18px;
                color: black;
                span {
                    color: blue;
                }
            }
        }
        .burger {
            cursor: pointer;
            margin-top: auto;
            margin-bottom: auto;
        }

        .links {
            display: none;
        }
    }
}
