header {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  header a {
    float: left;
    color: #10d610;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  header a.active {
    background-color: #4CAF50;
    color: rgb(212, 34, 34);
  }

  #sidebar header{
    height: 100%;
    
  }

  header h2 p{
    font-size: 20px;
  }