/* .sidebar {
   float: left;
    background-color: rgb(209, 19, 19); 
     height: auto;
    grid-template-columns: 1fr 1fr;
    display: flex; 
}*/

/* #sidebar {
    background: rgb(255, 255, 255);
    height:100%;
    position: fixed;
    z-index: 1;
    overflow-y: auto;
    will-change: transform;
    display: flex;
    grid-template-columns: 1fr 1fr;
} */

.sidebar{
    display: inline-block;
    width: 22em;
}

