.navbar .links {
    margin-left: auto;
    position: absolute;
  }
  .navbar a {
    color: black;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
  }
  .navbar a:hover {
    color: blue;
  }